@charset "UTF-8";

html {
  width: 100vw;
  height: auto;
}

body {
  text-align: center;
  overflow-x: hidden;
  font-family:"MS Pゴシック",sans-serif,'Amatic SC', cursive;
}

header {
  display: flex;
  margin-bottom: -3%;
}

header a {
  font-size: 1.5em;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  text-align: left;
  margin-left: 5%;
}

header section {
  margin-right: 5%;
}

nav {
  display: flex;
  align-items: center;
}

ul{
  display: flex;
  justify-content: flex-end; 
  list-style-type: none;
}

li {
  margin-left: 35%;
}

hr {
  width: 90%;
}

.Oya{
  display: flex;
  justify-content: center;
  gap: 15%;
  white-space: nowrap;
  border: 0px solid #F1EBEB;
  background-color: #F6F5F5;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  margin: 0 3% 3% 3%;
}

aside .Video {
  display: block;
  margin-left: 10%;
}

aside ul {
  list-style-type: disc;
  display: block;
}

aside ul a {
  color: inherit;
}

aside ol {
  display: block;
}

article {
  width: 100vw;
  margin: 2% auto;
  display: flex;
  flex-wrap: wrap;
}

article .Story {
  display: block;
  border: 1px solid #F1EBEB;
  background-color: #F6F5F5;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
  width: 60%;
  border-radius: 10px;
  padding: 2%;
}

article .sideMenu {
  border: 1px solid #F1EBEB;
  background-color: #F6F5F5;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
  width: 20%;
  height: auto;
  border-radius: 10px;
  padding: 2%;
  display: block;
}

.sideKodomo p {
  font-size: 7px;
}

img {
  transition: all 0.7s;
  border-radius: 20px;
}

img:hover {
  transform: scale(1.5);
}

.sideMenu img {
  width: 50%;
}

section {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Kodomo {
  margin: 3%;
  display: block;
}

.Kodomo img {
  width: 80%;
  height: auto;
}

p {
  font-size: 13px;
}

img:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

h5 {
  margin: 2% auto;
}

footer .proFile {
  display: flex;
  justify-content: center;
  gap: 3%;
  margin: 3% auto;
}

footer .SNS a{
  text-decoration: none;
  color: inherit;
  margin-left: 10%;
}

footer {
  bottom: 0;
}