@charset "UFT-8";

body {
  width: 100vw;
  height: 100vh;
}

h1,h2 {
  text-align: center;
}

h2 {
  animation: slideIn 2s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(500px);
  }
  100vw {
    transform: translateY(0);
  }
}