@charset "UTF-8";

body {
  background-image: url(office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  gap: 8%;
  flex-wrap: wrap;
}

h1 {
  border-radius: 10px;
  background-color: rgba(255,255,255,0.5);
  padding: 1% 10%;
  font-size: 35px;
  margin-top: -10px;
}

.flag {
  background-color: rgba(255,255,255,0.5);
  padding: 1% 10%;
  color: rgba(255,0,0,0.8);
  font-size: 35px;
}

main {
  border-radius: 10px;
  background-color: rgba(255,255,255,0.5);
  padding: 5%;
  margin: 1% 10%;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

h2 {
  font-size: 30px;
}

time {
  font-size: 30px;
}

footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20%;
  margin-bottom: -10px;
}

input {
  font-size: 25px;
  background-color: rgba(255,255,255,0.5);
  border: none;
  border-radius: 10px;
  padding: 1% 4%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input:hover {
  background-color: rgba(255, 255, 255, 0.7);
}